@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --fonte1: Verdana, Tahoma, sans-serif; 
    --fonte2:  'Sriracha', cursive;
    --fonte3: 'Passion One', cursive;
}
*{
    padding: 0px;
    margin: 0px;
}

html,body{
    height: 100vh;
 font-family: var(--fonte1);
}
header{
    background-color: black;
    text-align: center;
    
}

header h1{
    color: white;
    padding-top: 30px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 3.5em;
}

header p{
    color: white;
    padding-bottom: 20px;
}

header a, footer a{
    text-decoration: none;
    color: white;
}

header a:hover,footer a:hover{
    text-decoration: underline;
    color: cornflowerblue;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
    font-family: var(--fonte2);
    font-size: 2em;
}

section p{
    padding-bottom: 2em;
}



.normal{
    background-color: rgb(255, 255, 255)0.226);
    color: black;
}

.imagem{
    background-color: rgba(39, 39, 39, 0.452);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
    
}

.imagem p{
    background-color: rgba(41, 41, 41, 0.384);
    width: 400px;
    padding: 10px;
    text-shadow: 1px 1px 0px black;

}

section#img1{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    
}

section#img2{
    background-image: url(imagens/background002.jpg);
    
}
footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
   
}